# Base URLs
BASE_URL=http://localhost:5173
API_BASE_URL=http://localhost:8081

# Test Accounts Credentials
TEST_HR_EMAIL=hr@aseuro.com
TEST_HR_PASSWORD=Hr@12345

TEST_MANAGER_EMAIL=manager@aseuro.com
TEST_MANAGER_PASSWORD=Hr@12345

TEST_EMPLOYEE_EMAIL=employee@aseuro.com
TEST_EMPLOYEE_PASSWORD=Hr@12345

# Database Connection (PostgreSQL)
DB_HOST=localhost
DB_PORT=5433
DB_NAME=pms_db
DB_USERNAME=postgres
DB_PASSWORD=postgres
